[www]
user = {{ php_fpm_user }}
group = {{ php_fpm_group }}
listen = /var/run/php-fpm/php-fpm.sock

listen.owner = {{ php_fpm_listen_owner }}
listen.group = {{ php_fpm_listen_group }}
listen.mode = {{ php_fpm_listen_mode }}
listen.allowed_clients = 127.0.0.1

pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 35

slowlog = /var/log/php-fpm/7.4/www-slow.log
php_admin_value[error_log] = /var/log/php-fpm/7.4/www-error.log
php_admin_flag[log_errors] = on

php_value[session.save_handler] = files
php_value[session.save_path]    = /var/lib/php/7.4/session
php_value[soap.wsdl_cache_dir]  = /var/lib/php/7.4/wsdlcache
